In [1]:
12+2

14

In [2]:
21-1

20

In [3]:
20*5

100

20/5

In [4]:
20/5

4.0

In [8]:
1800/100

18.0

In [11]:
10%8

2

In [12]:
2**3

8

In [14]:
names = ["s","t","y","x","z"]

In [15]:
len(names)

3

In [16]:
for i in range(len(names)):
    print(names[i] + "さん")

sさん
tさん
yさん

In [19]:
for name in names:
    print(f'{name}さん')

sさん
tさん
yさん

In [32]:
for i in range(10):
    if i == 9:
        continue
    print(i)

0
1
2
3
4
5
6
7
8

In [42]:
def say_hello(name):
    print(f'{name}さん、こんにちは')

In [44]:
say_hello('坂田')

坂田さん、こんにちは

In [60]:
def calc_square(side):
    anser = side * side
    return anser

In [62]:
calc_square(side = 100)

10000

In [69]:
def calc_try(botom=100,high=20):
    anser= botom * high /2
    return anser

In [71]:
calc_try()

1000.0

In [120]:
class Person:
    #初期設定
    def __init__(self, name ,nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age
    
    def __call__(self,name):
        print(f'{name} hello! 私は{self.name}です。Call関数から呼び出されています')    
    
    def say_hello(self,name):
        print(f'{name} hello! 私は{self.name}です。')

In [121]:
kimura = Person('kimura','japan',30)

In [122]:
kimura('suzuki')

suzuki hello! 私はkimuraです。Call関数から呼び出されています

In [109]:
kimura.name

'kimura'

In [110]:
mike = Person('mike','japan',22)

In [113]:
mike.say_hello('suzuki')

suzuki hello! 私はmikeです。

In [114]:
kimura.say_hello('sakata')

sakata hello! 私はkimuraです。

In [123]:
import datetime

In [131]:
today = datetime.date.today()

In [132]:
datetime.datetime.now()

datetime.datetime(2023, 1, 16, 1, 27, 17, 290239)

In [138]:
today

datetime.date(2023, 1, 16)

In [140]:
today.year

2023

In [141]:
today.day

16

In [143]:
today - datetime.timedelta(days = 3)

datetime.date(2023, 1, 13)

In [144]:
today.strftime('%Y年%m月%d日')

'2023年01月16日'

In [146]:
today.strftime('%Y/%m/%d')

'2023/01/16'

In [147]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.9/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/site-packages (from pandas) (1.24.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.1.1; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [152]:
import pandas as pd

In [153]:
df = pd.DataFrame([
        [1,2,3],
        [4,5,6],
        [7,8,9]
])

In [154]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
pd.read_csv('sample_data')